{{ craft.olivemenus.getMenuHTML('mainMenu') }}

<!--
<nav class="page-header__content" role="navigation" aria-label="Main">
  {% set firstSegment = craft.app.request.getSegment(1) %}
  <ul>
    <li >
      <a href="{{ siteUrl }}">home</a>
    </li>
    <li >
      <a href="{{ url('projets') }}">projets</a>
    </li>
    <li>
      <a href="{{ url('blog') }}">blog</a>
    </li>
    <li>
      <a href="{{ url('about') }}">about</a>
    </li>
    <li>
      <a href="{{ url('contact') }}" class="btn btn--yellow">contactez-nous</a>
    </li>
  </ul>
</nav>
-->